---
interface Props {
  columns?: "two" | "three" | "four";
  class?: string;
}

const { columns = "three", class: className = "" } = Astro.props;
const columnClasses = {
  two: "md:grid-cols-2",
  three: "md:grid-cols-3",
  four: "md:grid-cols-2 xl:grid-cols-4",
};
---

<div class:list={["grid gap-5 md:gap-6", columnClasses[columns], className]}>
  <slot />
</div>
